<div class="flex items-center justify-between">
  <a routerLink="/admin/category/add">
    <button class="btn btn-primary mb-4">
      Add category
    </button>
  </a>
  <div class="relative">
    <label for="Search" class="sr-only"> Search </label>

    <input [(ngModel)]="searchText" type="text" id="Search" placeholder="Search for..."
      class="w-[250px] rounded-md border-gray-400 py-2.5 px-1 pe-10 shadow-md sm:text-sm" />

    <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
      <button type="button" class="text-gray-600 hover:text-gray-700">
        <span class="sr-only">Search</span>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="h-4 w-4">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </button>
    </span>
  </div>
</div>

<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm border">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          #
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Name
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Slug
        </th>

        <th class="px-4 py-2">
          Action
        </th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <tr *ngFor="let item of categorys | filterCategory : searchText; index as i">
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          {{i + 1}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          {{item.name}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          {{item.slug}}
        </td>

        <td class="whitespace-nowrap px-4 py-2">
          <a routerLink="/admin/category/edit/{{item._id}}"
            class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
            Edit
          </a>
          <button (click)="handleDelete(item._id)"
            class="ml-2 inline-block rounded bg-red-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div>
    <span (click)="pa(10, 1)" class="ml-3 cursor-pointer">1</span>
    <span (click)="pa(10, 2)" class="ml-3 cursor-pointer">2</span>
    <span (click)="pa(10, 3)" class="ml-3 cursor-pointer">3</span>
    <span (click)="pa(10, 4)" class="ml-3 cursor-pointer">4</span>
  </div> -->
</div>

